*{
    padding:0;
    margin:0;
    font-family:'times new roman', Times,
}
body{
    height:100vh;
    background: purple;
    padding: 30px;
}
.container{
    height:100%;
    background: black;
    color: aliceblue;
    border: radius 4%;
}
header {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    background: rgb(48, 4, 41);
    border-radius: 8px;
}
.logo {
    font-size:26px;
    font-weight: bold;
    letter-spacing: 1px;
    color:aliceblue;
    text-decoration: none;
}
.logo:hover{
    transform: scale(1.5);
    color: red;
}
.inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:100px;
    padding:100px 5% 0;
}